services:
  frontend:
    # Use the image if pulling, or build from context if running locally with --build
    image: ghcr.io/jullemyth122/portfolio-v7:latest
    build:
      context: .
      dockerfile: dockerfile
    ports:
      - "5173:80" # Map host 5173 to container 80 (Nginx)
    restart: unless-stopped
    networks:
      - portfolio-v7

  watchtower:
    image: nickfedor/watchtower:latest 
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_POLL_INTERVAL=60

networks:
  portfolio-v7:
    driver: bridge